<template>
    <button @click="loginWithTwitter">Login with Twitter</button>
  </template>
  
  <script setup>
  const loginWithTwitter = () => {
    window.location.href = '/api/twitter/auth'
  }
  </script>
  