<template>
    <div>
      <p v-if="loading">Loading...</p>
      <p v-if="error">{{ error }}</p>
    </div>
  </template>
  
  <script setup>
  import { ref, onMounted } from 'vue'
  import { useRouter, useRoute } from 'vue-router'
  import { useCookie } from 'nuxt/app'
  
  const router = useRouter()
  const route = useRoute()
  const loading = ref(true)
  const error = ref(null)
  const token = useCookie('twitter-token')
  
  onMounted(async () => {
    const { oauth_token, oauth_verifier } = route.query
    if (oauth_token && oauth_verifier) {
      try {
        const response = await fetch('/api/twitter/callback', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ oauth_token, oauth_verifier })
        })
        const data = await response.json()
        token.value = data.access_token
        console.log('Access Token:', data.access_token)
        router.push('/')
      } catch (err) {
        error.value = 'Error during authentication'
        console.error('Error during authentication:', err)
      } finally {
        loading.value = false
      }
    } else {
      router.push('/login')
    }
  })
  </script>
  