<template>
    <div>
      <h1>Welcome to the Nuxt Twitter Auth App</h1>
      <div v-if="token">
        <p>Your access token: {{ token }}</p>
      </div>
      <div v-else>
        <LoginButton />
      </div>
    </div>
  </template>
  
  <script setup>
  import { ref } from 'vue'
  import { useCookie } from 'nuxt/app'
  import LoginButton from '~/components/LoginButton.vue'
  
  const token = useCookie('twitter-token')
  </script>
  